{% extends 'base.html' %}
    
    {% block tittle %} Ver cadena {% endblock %}

    {% block bodycontent %}

    <form action="{{ url_for('cadena_completa') }}" method="get">
        <a href="/transaccion/nueva">
            <button type="button">Agregar nueva transaccion</button>
        </a>
        {% for bloque in cadena %}

            {{ bloque }}
            <h1>index: {{ bloque['index'] }}</h1>

            {% for transaccion in bloque['transacciones'] %}

                <h1>transaccion: {{ transaccion }}</h1>
            {% endfor %}
            <h1>tiempo: {{ bloque['timestamp'] }}</h1>
            <h1>anterior hash: {{ bloque['hash_anterior'] }}</h1>
            <h1>hash del bloque actual: {{ bloque['hash'] }}</h1>

            <h1>siguiente bloque:</h1>
        
            
        {% endfor %}

    </form>

    
    {% endblock %}