<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('nueva_transaccion', id = nueva_transaccion) }}" method="POST">

        <textarea name="nueva_transaccion" id="nueva_transaccion" cols="30" rows="5" placeholder="rodri 10 pengucoins a satoshi"></textarea>

        <div>
            <a href="/nueva_transaccion">
                <button type="submit">nueva transaccion</button>
            </a>
        </div>
    </form>
</body>
</html>