{% extends 'base.html' %}
    
    {% block tittle %} transaccion nueva {% endblock %}

    {% block bodycontent %}


    <form action="{{ url_for('nueva_transaccion', id = nueva_transaccion) }}" method="POST">

        <textarea name="nueva_transaccion" id="nueva_transaccion" cols="30" rows="5" placeholder="rodri 10 pengucoins a satoshi"></textarea>

        <div>
            <a href="/nueva_transaccion">
                <button type="submit">enviar transaccion</button>
            </a>
        </div>

        <a href="/cerrar">
            <button type="button">Cerrar bloque</button>
        </a>

        <a href="/cadena">
            <button type="button">Ver toda la cadena</button>
        </a>
    </form>


    
    {% endblock %}
